.is-no-scroll {
    overflow: hidden;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
}

.is-visible {
    visibility: visible;
    opacity: 1;
}

.is-rotating {
    animation: rotating $rotationSpeed linear infinite;
}
