// levers
$rotationSpeed: 20s;

// all colors
$yellow: #FFF6B8;
$grey100: #131313;
$grey200: #232323;
$grey200Opacity: rgba(255, 255, 255, .08);
$grey300: #333333;
$grey400: #858585;
$grey500: #CACACA;
$white: #ffffff;
$black: #000000;

// semantic colors
$accent: $yellow;
$siteBackground: $white;
$borderColor: $grey200;

// type
$heading-1: 4rem/120% 'Arnhem-Bold', Helvetica, Serif; // 64px - intro
$heading-2: 2.5rem/120% 'Arnhem-Bold', Helvetica, Serif; // 40px - intro
$heading-3: 1.75rem/120% 'Arnhem-Bold', Helvetica, Serif; // 32px - intro

$bodyMega: 2rem/150% 'Graphik-Regular', Helvetica, Sans-Serif;
$bodyRegular: 1.125rem/165% 'Graphik-Regular', Helvetica, Sans-Serif;
$bodySmall: .875rem/140% 'Graphik-Regular', Helvetica, Sans-Serif; // 14px

$label: 1.125rem/165% 'Graphik-Medium', Helvetica, Sans-Serif;
$cta: 1.125rem/120% 'Graphik-Regular', Helvetica, Sans-Serif; // 18px


$medium38: 2.375rem/120% 'Graphik-Medium', Helvetica, Sans-Serif; // 38px - story title, work tile title
$medium28: 1.75rem/120% 'Graphik-Medium', Helvetica, Sans-Serif; // 28px - work tile title small
$medium14: 0.875rem 'Graphik-Medium', Helvetica, Sans-Serif; // 14px - embedded paragraph links

$regular46: 2.875rem/125% 'Graphik-Regular', Helvetica, Sans-Serif; // 46px - about billboard
$regular28: 1.75rem/150% 'Graphik-Regular', Helvetica, Sans-Serif; // 28px - about details
$regular16: 1rem/180% 'Graphik-Regular', Helvetica, Sans-Serif; // 16px - about link, intro greeting, all paragraph, work tile description and tags, twitter getter
// $regular14: 400 0.875rem/180% 'Graphik-Regular', Helvetica, Sans-Serif; // 14px
$regular12: 0.75rem/165% 'Graphik-Regular', Helvetica, Sans-Serif; // 12px - back button, work tile description and tags small

// all spacing
$spaceMega: 16em; // space between homepage sections
$spaceExtraLarge: 4em; // 128px
$spaceLarge: 2em; // 32px
$spaceMedium: 1.5em; // 24px
$spaceSmall: 1em; // 16px
$spaceExtraSmall: .5em; // 8px

// semantic spacing
$headerFooterHeight: $spaceExtraLarge;

// breakpoints
$breakpointLarge: 1680px; // 15 inch mbp
$breakpointMedium: 944px; // 13 inch mbp
$breakpointSmall: 696px; // mobile device

// curves
$bezierEaseOut: cubic-bezier(.3,0,0,1);
$bezierLogo: cubic-bezier(0.25, 0.10, 0.00, 1.00);

// timing
$durationExtraLong: .9s;
$durationLong: .6s;
$durationMedium: .4s;
$durationShort: .2s;

$shadowChrome: 0px 8px 80px rgba(0, 0, 0, 1);
$shadowTile: 0px 4px 40px rgba(0, 0, 0, 0.5);
$imageBorderRadius: 10px;
