.about-main {
   font: $bodyMega;
   color: $grey400;
   margin-bottom: $spaceMedium;

   > p {
      margin-bottom: $spaceSmall;
   }
}

.about-contact, .about-site {
   font: $bodyRegular;
   color: $grey400;
   width: 49%;

   > h3 {
      margin-bottom: $spaceExtraSmall;
   }

   > p {
      margin-bottom: $spaceSmall;
   }
}

.about-contact {
   float: left;

   @media (max-width: $breakpointMedium) {
      width: 100%;
      display: block;
      margin-bottom: 1.5em;
   }
}

.about-site {
   float: right;

   @media (max-width: $breakpointMedium) {
      width: 100%;
      display: block;
      margin-bottom: 1.5em;
   }
}
