#footer {
    height: $headerFooterHeight;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpointSmall) {
      flex-direction: column-reverse;
      padding: 1.4em 0;
    }
}

.footer-copyright {
   font: $bodyRegular;
   color: $grey400;

   @media (max-width: $breakpointSmall) {
      width: 100%;
      text-align: center;
   }
}
