.home-header {
    height: $headerFooterHeight;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0 23%;
    background-color: $siteBackground;
    opacity: 0;

    transition: opacity 1.5s ease, box-shadow $durationShort ease;

    @media (max-width: $breakpointLarge) {
       padding: 0 16%;
    }

    @media (max-width: $breakpointMedium) {
       padding: 0 12.5%;
    }

    @media (max-width: $breakpointSmall) {
       padding: 0 8%;
    }
}

.home-header-loaded {
    opacity: 1;
}

.home-header-loaded-instant {
   opacity: 1;
   transition: opacity 0s, box-shadow 0s;
   box-shadow: $shadowChrome;

}

.home-header-scrolled {
   box-shadow: $shadowChrome;
}

.home-header-nav {
   display: block;

   > a {
      font: $cta;
      color: $white;
      margin-right: .5em;
   }
}
