#post-hero {
    width: 100%;
    height: auto;
    margin: 0 auto 6em auto;
    opacity: 0;
    transition: all 2s $bezierEaseOut;

    @media (max-width: $breakpointSmall) {
        display: none;
    }
}

.post-hero-loaded {
    opacity: 1 !important;
}
