#scene {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    pointer-events: none;

    transition: opacity $durationLong $bezierEaseOut;
}

.scene-hidden {
    opacity: 0 !important;
}

.scene-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

[class*='scene-square'] {
    position: absolute;
    height: 18px;
    width: 18px;
    border: solid 4.5px rgba(167, 167, 167, .12);

    transition: all $durationLong ease;
}

[class*='scene-circle'] {
    position: absolute;
    height: 18px;
    width: 18px;
    border: solid 4.5px rgba(167, 167, 167, .12);
    border-radius: 9px;

    transition: all $durationLong ease;
}

[class*='scene-triangle'] {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12.5px 20px 12.5px;
    border-color: transparent transparent rgba(167, 167, 167, .12) transparent;

    transition: all $durationLong ease;

    &:after {
        content: '';
        position: absolute;
        left: -4px;
        top: 8.88px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 4.5px 7px 4.5px;
        border-color: transparent transparent $white transparent;

        transition: all $durationLong ease;
    }
}

.scene-square-1 {
    bottom: 7%;
    left: 7%;
}

.scene-square-2 {
    top: 15%;
    left: 30%;
}

.scene-square-3 {
    bottom: 15%;
    left: 40%;
}

.scene-square-4 {
    top: 35%;
    right: 20%;
}

.scene-triangle-1 {
    top: 50%;
    left: 7%;
}

.scene-triangle-2 {
    top: 60%;
    right: 8%;
}

.scene-triangle-3 {
    top: 1%;
    left: 70%;
}

.scene-triangle-4 {
    top: 68%;
    left: 25%;
}

.scene-circle-1 {
    top: 15%;
    right: 2%;
}

.scene-circle-2 {
    top: 37%;
    left: 52%;
}

.scene-circle-3 {
    top: 84px;
    left: 14%;
}

.scene-circle-4 {
    bottom: 5%;
    left: 75%;
}
