.button-social-link {
    display: block;
    float: left;
    height: 28px;
    width: 28px;
    margin-right: .5em;

    transition: all $durationShort ease;

    &:hover {
        opacity: .5;
    }
}
