.post-paragraph-embedded {
    display: block;
    margin: 0 auto .8em auto;
    width: 50%;
    font: $bodyRegular;
    color: $grey400;

    @media (max-width: $breakpointSmall) {
        width: 100%;
    }
}

.post-paragraph-embedded-last {
    margin: 0 auto 5.7142857143em auto;
    font: $bodyRegular;
    color: $grey400;
    width: 50%;

    @media (max-width: $breakpointSmall) {
        width: 100%;
    }
}

.post-caption {
   font: $bodySmall;
	color: $grey400;
	margin-bottom: 8em;
	text-align: center;
}
