// currently unused

.grid {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.col-one-eigth {
    width: 12.5%;
}

.col-seven-eigths {
    width: 87.5%;
}

.col-one-fourth {
    width: 25%;
}

.col-one-third {
    width: 33.33%;
}

.col-one-half {
    width: 50%;
}

.col-two-thirds {
    width: 66.66%;
}

.col-three-fourths {
    width: 75%;
}

[class*='col-'] {
  padding-right: 20px;
  float: left;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}
